@import "tailwindcss";

@theme {
  --color-blum-blue: #5A89FF;
  --color-blum-yellow: #FFD200;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #000000;
}

* {
  box-sizing: border-box;
}

@keyframes floatSoft {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}

.animate-float-soft {
  animation: floatSoft 4s ease-in-out infinite;
}